html{
    position: relative;
    min-height: 100%;
}

body{
    background-color: #f7f7f7;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.body-content{
    margin-top: 2em;
    margin-bottom: 2em;
}

header{
    background-color: #282828;
}

header > .navbar{
    background-color: inherit;
    border: none;
}

header .navbar-brand, footer .logo{
    font-size: 2em;
    padding-top: .8em;
    font-family: 'Pacifico', cursive;
}

a{
    color: #828282
}

a:hover, a:active, a:focus{    
    color: #d82222;
    text-decoration: none;
}

.navbar-brand span{
    color: #d82222;
}

a.navbar-brand{
    color: white;
}

.navbar-menu{
    background-color: #282828;
}

.navbar-menu a:hover, .navbar-menu a:active, .navbar-menu a:focus{
    color: inherit;
}

.navbar-menu .active{
    background-color: white;
}

.navbar-menu .active a{
    color: inherit;
}

ul.nav.navbar-nav{
    margin-top: 0;
}

.post{
    box-shadow: 0px 0px 3px 1px rgba(216, 216, 216, 0.59);
    -moz-box-shadow: 0px 0px 3px 1px rgba(216, 216, 216, 0.59);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(216, 216, 216, 0.59);
}


.post .panel, .post .panel-footer{
    background-color: white;
    box-shadow: none;
    border: none;
}

.post .post-detail{
    text-align: right
}

.post .panel-body p{
    margin: 2em auto 1em;
}

.post .panel-body img{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.post-footer{
    text-align: right;
}

a.post-footer-link, .about-us-more a{
    color:#d82222;
}

a.post-footer-link:hover, a.post-footer-link:active, a.post-footer-link:focus, .about-us-more a:hover, .about-us-more a:active, .about-us-more a:focus{
    color: #b41111;
}

footer{
    background-color: #282828;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

footer a:hover,footer a:focus, footer a:active{
    color: white;
}

footer li{
    padding-bottom: .5em;
}

.category-list .badge{
    float: right;
}

.archive-list-item{
    padding:.5em;
    padding-left: 0;
}

.full{
    width: 100%;
}

.btn-suscribe, .search-form-btn button{
    color:white;
    background-color: #d82222;
    width: 100%;
    border-color: #d82222;
}

.about-us{
    text-align: center;
}

.about-us h3{
    text-align: left;
}

.about-us img{
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.about-us p{
    text-align: justify;
    margin: 2em auto 1em;
}

.about-us-more{
    text-align: right
}

.search-form{
    margin: 2em auto 3em;
}

.search-form-btn{
    padding-left: 0;
}

.search-form-btn button{
    width: 100%;
}

.search-form-btn button.btn-default:hover, .search-form-btn button.btn-default:active, .search-form-btn button.btn-default:focus{
    color: #333;
    background-color: #c31b1b;
    border-color: #d82222;
    color: white;
}

.about-us, .newsletter-form, .category-list, .sponsor-list{
    margin-bottom: 2em;
}

.newsletter-form{
    padding-bottom:  2em;
    margin: 2em 1px;
    color: white;
    border-radius: 3px;
    background: #282828;
}

.category-list .list-group-item{
    border: none;
    padding-left: 0;
    padding-right: 0;
    background-color: inherit;
}

.component-title{
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    margin-bottom: 1em;
}

.component-title svg, .footer-section svg{
    margin-right: .5em;
}

.newsletter-form h3{
    border: none;
}

.sponsor-list .thumbnail{
    border: none;
    background-color: inherit;
}

.sponsor-list .thumbnail img{
    border: 1px solid #ddd;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

footer a, header a{
    color: #b9b9b9;
}

footer .logo{
    font-family: 'Pacifico', cursive;
    color: white;
}

footer .logo span{
    color: #d82222;
}

.footer-section{
    padding: 2em 0;
}

.navbar-social{
    font-size: 1.3em;
    text-align: right;
}

.navbar-toggle{
    padding-top: 1.3em;
    padding-bottom: 0;
}

.navbar-toggle .icon-bar{
    background-color: white;
}

.about-us .media-left{
    overflow: hidden;
    padding: 0;
}

.credits{
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
}

.credits a{
    text-decoration: none;
    white-space: nowrap;
}

.credits a:hover{
    opacity: .8;
}

@media(max-width: 767px){
    .search-form-btn{
        margin-top: 1em;
        padding-left: 15px;
    }

    .newsletter-form{
        padding: 3em 4em 4em;
    }
}


@media(max-width: 576px){
    .about-us .media-left{
        display: block;
        padding: 0;
    }

    .about-us .media-left img{
        width: 100%;
        max-width: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .newsletter-form{
        margin-left: -15px;
        margin-right: -15px;
        padding: .5em 1em 2.5em;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .about-us .media-body{
        padding-left: 1em;
        padding-right: 1em;
    }

    .newsletter-form{
        padding: 3em 4em 4em;   
    }
}

@media(min-width: 992px){
    .about-us img{
        width: 100%;
    }

    .about-us .media-left{
        display: block;
    }

    footer{        
        min-height: 17em;
        position: absolute;
    }

    .body-content{
        margin-bottom: 20em;
    }

    .navbar-social{
        text-align: initial;
    }
}

@media (min-width: 768px){
    header > .navbar{
        font-size: .8em;
        height: 8em;        
        padding-top: 2em;
        background-color: inherit;
        border: none;
    }

    .navbar-menu .collapse.navbar-collapse{
        padding-left: 0;
    }

    header .navbar-brand, footer .logo{
        font-size: 3em;
    }
}